<h2>@Title</h2>

<div>@ChildContent</div>
<hr />
<div>Footer</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}