@using Microsoft.AspNetCore.Components.Web
  
<h1>@message</h1>

<Main2 />
 
@code {
    string message = string.Empty;

    protected override void OnInitialized()
    {
        message = $"Home component initialized at {DateTime.Now.ToLongTimeString()}";
    }
}