@using Microsoft.AspNetCore.Components.Routing
@using LayoutApp.Components.Layout

<!DOCTYPE html>
<html>
<head>
    <title>LayoutApp</title>
    <meta charset="utf-8" />
    <base href="/" />
</head>

<body>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
    </Router>

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
