<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        {{#if userProfile.isMale}}
            <!-- Gender of the user determines which picture is displayed as their avatar -->
            <img class="profile-img" src="/static/images/male.png">
        {{else}}
            <img class="profile-img" src="/static/images/female.png">
        {{/if}}
        <p>Email: <span>{{userProfile.email}}</span></p>
    </div>
    <div class="profile-info">
        <p>Trips History: <span>{{userProfile.tripsCount}}</span> counts</p>
        <div class="trips-info">
            {{#if userProfile.hasTrips}}
                {{#each userProfile.trips}}
                    {{>itemProfile}}
                {{/each}}
                <!-- If there are trips created by the current logged in user display each of them -->
                {{!-- <p>from <span>Svilengrad</span> to <span>Sofia</span> on <span>2021-06-16</span> at
                    <span>20:40</span></p>
                <p>from <span>Plovdiv</span> to <span>Burgas</span> on <span>2021-07-07</span> at <span>10:40</span>
                </p>
                <p>from <span>Sofia</span> to <span>Nesebur</span> on <span>2021-08-01</span> at <span>09:00</span>
                </p> --}}
            {{else}}
                <!-- If there are no trips created by the current logged in user display:-->
                <p>there are no offer trips yet...</p>
            {{/if}}
        </div>
    </div>
</section>
