<form #f="ngForm" (ngSubmit)="loginHandler(f.value)">
  <div class="form-group">
    <label for="email">Email</label>
    <input #emailInput="ngModel" type="text" name="email" id="email" ngModel required email>
    <div *ngIf="emailInput.errors != null && emailInput.touched && emailInput.errors['required']"
      class="validation-error">Email is required.</div>
    <div *ngIf="emailInput.errors != null && emailInput.touched && emailInput.errors['email']" class="validation-error">
      Email is invalid.</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input #passwordInput="ngModel" type="password" name="password" id="password" [ngModel]="defaultPassword" required>
    <div *ngIf="passwordInput.errors != null && passwordInput.touched && passwordInput.errors['required']"
      class="validation-error">Password is required.</div>
  </div>
  <div ngModelGroup="address">
    <div class="form-group">
      <label for="street">Street</label>
      <input #streetInput="ngModel" type="text" name="street" id="street" ngModel required>
    </div>
    <div class="form-group">
      <label for="post-code">Post Code</label>
      <input #passwordInput="ngModel" type="text" name="postCode" id="post-code" ngModel required>
    </div>
  </div>
  <button [disabled]="f.invalid">Login</button>
</form>

{{ f.value | json }}