@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<div>
    <input @bind-value="@item" @bind-value:event="oninput" />
    <p>Value: @item</p>
</div>

@code {
    string item = "hello";
}
