@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<EditForm Model="@person" OnSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary/>
    <p>
        Name:<br />
        <InputText id="name" @bind-Value="person.Name" /><br />
        <ValidationMessage For="@(() => person.Name)" />
    </p>
    <p>
        Age:<br />
        <InputNumber id="age" @bind-Value="person.Age" /><br />
        <ValidationMessage For="@(() => person.Age)" />
    </p>

    <button type="submit">Submit</button>
</EditForm>

<style>
    .validation-errors {
        color: red;
    }
    div.validation-message{
        color: #2980B9;
    }
</style>

@code {
    Person person = new();

    void Submit()
    {
        Console.WriteLine($"Name: {person.Name} \tAge: {person.Age}");
    }
}
