@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>HttpClientBlazorServerApp</title>
    <meta charset="utf-8" />
</head>
<body>
    <Home1 />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
