<!-- Browse Page -->
<section id="catalog-section" class="spaced">
    <h1 class="item">{{title}}</h1>
    <ul class="catalog cards">
        {{#each items}}
            {{> item}}
        {{else}}
            {{#if closed}}
                <p>You vaven't closed any auctions yet.</p>
            {{else}}
                <p>Nothing has been listed yet. Be the first!</p>
                {{#if user}}
                    <div>
                        <a class="action" href="/item/create">Publish Auction</a>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}
    </ul>
</section>