<!-- Browse Page -->
<section id="catalog-section" class="spaced">

    <h1 class="item">{{title}}</h1>

    <ul class="catalog cards">
        {{#each items}}
            {{> item}}
        {{else}}
            {{#if closed}}
                <p>You vaven't closed any auctions yet.</p>
            {{else}}
                <p>Nothing has been listed yet. Be the first!</p>
                {{#if user}}
                    <div>
                        <a class="action" href="/item/create">Publish Auction</a>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}

    </ul>
    <!-- List of available auctions -->
    {{!-- <ul class="catalog cards">
        <li class="item">
            <header class="pad-med">
                <h2>Fishing Boat</h2>
            </header>

            <div class="align-center">
                <img class="img-thumb" src="/static/assets/boat.jpg">
            </div>

            <footer class="align-center pad-med">
                <p>Current price: <strong>$5000</strong></p>
                <a class="action" href="#">See details</a>
            </footer>
        </li>
        <li class="item">
            <header class="pad-med">
                <h2>Wardrobe</h2>
            </header>

            <div class="align-center">
                <img class="img-thumb" src="/static/assets/wardrobe.jpg">
            </div>

            <footer class="align-center pad-med">
                <p>Current price: <strong>$150</strong></p>
                <a class="action" href="#">See details</a>
            </footer>
        </li>
        <li class="item">
            <header class="pad-med">
                <h2>Record Player</h2>
            </header>

            <div class="align-center">
                <img class="img-thumb" src="/static/assets/player.jpg">
            </div>

            <footer class="align-center pad-med">
                <p>Current price: <strong>$400</strong></p>
                <a class="action" href="#">See details</a>
            </footer>
        </li>
    </ul> --}}

    <!-- If there are no auctions to display -->
    {{!-- <div class="item pad-large align-center">
        <p>Nothing has been listed yet. Be the first!</p>
        <div>
            <a class="action" href="#">Publish Auction</a>
        </div>
    </div> --}}

</section>