@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>DependenciesApp</title>
    <meta charset="utf-8" />
</head>
<body>
    @* <Timer1 /> *@
    @* <Timer2 /> *@
    <Timer3 />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
