<PageTitle>ImportsApp</PageTitle>
<HeadContent>
    <meta name="description" content="Some very cool description ..." />
    <meta name="updated_at" content="@DateTime.Now" />
</HeadContent>

<h2>Hello from Blazor!</h2>
