@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Event Callback App</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EventCallbackApp.styles.css" />
</head>

<body>
    <Home1 />

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
