@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<div>
    <button @onclick="OnClickCallback">Click</button>
</div>

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}
