@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<h1>Blazor Counter</h1>
<div>@count</div>
<Counter1 OnClickCallback="@Increment" />

@code {
    int count;

    void Increment() => count++;
}
