@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>CascadingValueApp</title>
    <meta charset="utf-8" />
</head>
<body>
    @* <Home1 /> *@
    @* <Home2 /> *@
    <Home3 />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
