@* @page "/app"

<h1>Hello from Blazor</h1>
<h2>Simple Blazor Application</h2> *@

<!DOCTYPE html>
<html>
    <head>
        <title>SimpleBlazorApp</title>
    </head>
    <body>
    
        <h1>Hello from Blazor</h1>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" />
            </Found>
        </Router>
    
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>
