<h1>Book Catalog</h1>
<a href="/catalog/create">Create Book</a>
{{#if books}}
    <ul>
        {{#each books}}
            {{> book}}
        {{/each}}
    </ul>
{{else}}
    <span class="info">No books in database</span>
{{/if}}