<form method="POST" action="/catalog/create">
    <label for="">Title: <input name="title" type="text"></label>
    <label for="">Author: <input name="author" type="text"></label>
    <input type="submit" value="Create">
</form>